/ .container
/   form role="form" action="/repo" method='post' id='add-repo-form'
/     .row.vertical-align.query-bar
/       .col-xs-2
/         .text-right Github URL:
/       .col-xs-8
/         input{ 
/           type='text' name='github_url'
/           id='github_url_input' class="form-control"
/           placeholder="e.g.: https://www.github.com/soumyaray/YPBT-app"
/         } 
/       .col-xs-2
/         button{ 
/             type='submit' id='repo-form-submit' class='submit' 
/             value='submit' class="btn btn-success" 
/           } + Add Repo
/     .row
/       .col-xs-12.blank-row
/   table class="table" id="repos_table"
/     thead
/       tr
/         th Repo Name
/         th Github URL
/         th Contributors
/     tbody
/       - repos.each.with_index do |repo, index|
/         tr class="repo_row" id="repo[#{index}].row"
/           td
/             span class="repo_name" id="repo[#{index}].name"
/               a href="/repo/#{repo.owner.username}/#{repo.name}" id="repo[#{index}].link" #{repo.name}
/           td
/             span class="repo_gh_url" id="repo[#{index}].gh_url"
/               = repo.git_url
/           td
/             table id="repo[#{index}].contributors_table"
/               tr
/                 td
/                   span class="repo_table_owner" id="repo[#{index}].owner"
/                     = "#{repo.owner.username} (#{repo.owner.email})"
/               - repo.contributors.each do |contrib|
/                 tr
/                   td
/                     span class="repo_table_contributor" id="repo[#{index}].contributor"
/                       = "#{contrib.username} (#{contrib.email})"